<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>NVDAStartup</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.nvidia.NVDAStartupWeb</string>
			<key>IOClass</key>
			<string>NVDAStartupWeb</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>200000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NVDARequiredOS</key>
			<string>17C88</string>
			<key>NVDAType</key>
			<string>Web</string>
		</dict>
		<key>CreateDevices</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>IONDRVFramebufferPatched</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>FramebufferDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>NVDAPatched</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<array>
				<string>NVDA,NVMac</string>
			</array>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>NVCLASS</key>
					<string>NVDA</string>
					<key>NVDAType</key>
					<string>Web</string>
				</dict>
				<key>IOProviderClass</key>
				<string>IOPCIDevice</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IONDRVDevice</string>
		</dict>
		<key>FramebufferDriverTesla</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>NVDATeslaPatched</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<array>
				<string>NVDA,NVMac</string>
			</array>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>NVCLASS</key>
					<string>NVDATesla</string>
					<key>NVDAType</key>
					<string>Web</string>
				</dict>
				<key>IOProviderClass</key>
				<string>IOPCIDevice</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IONDRVDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Yifan Lu. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.5</string>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>1.5</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.nvidia.web.NVDAResmanWeb</key>
		<string>10.2.5</string>
		<key>com.nvidia.web.NVDAResmanTeslaWeb</key>
		<string>10.2.5</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
